*
!.gitignore
!.spacemacs
!.vimrc
!.agignore
!.zshrc
!qwerty.txt
!kinesis
!kinesis/**
!.local/share/src
!.local/share/bin
!**/.gitkeep
!.nixos
!.nixos/**
!.nixos-system
!.nixos-system/**
.nixos-system/configuration.nix
.nixos-system/hardware-configuration.nix
